/CMClasses/backup
/Images/RES Generation
/TestProyect/lib
/lib
/TestProyect/*.log
Thumbs.db
/TestProyect/*.exe
/TestProyect/*.lnk
/TestProyect/*.connection
/TestProyect/*.version
/TestProyect/*.db3
/TestProyect/backup
/TestProyect/log
/backup
/TestProject/*.log
/TestProject/backup/*.bak
/TestProject/lib/x86_64-win64
/TestProject/*.db3
/TestProject/*.connection
/TestProject/*.exe
/TestProject/*.version
/TestProject/log/202008
